@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

main{
  min-height: 100vh;
}

form{
  
}

input{
  width: 100%;
  padding: 16px 40px;
  background-color: #eee;
  outline: none;
  border: transparent;
}